1. Crear un objeto de la clase DataFrame.

In [1]:

# Importar la biblioteca pandas
import pandas as pd

# Crear un diccionario con algunos datos
datos = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Marta'],
    'Edad': [23, 45, 34, 25],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# Crear un DataFrame a partir del diccionario
df = pd.DataFrame(datos)

# Mostrar el DataFrame
df

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    45  Barcelona
2  Carlos    34   Valencia
3   Marta    25    Sevilla